{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <img src="{{ url_for('static', filename= 'images/datascience.jpg') }}" style="width:250px; height:250px; border-radius:50%;">

        <h2>Data Science / Research</h2>
        <p class=cv-text>Download a pdf copy of my resume relevant to a data analysis, research assistant, or software role. </p>
        <p><a class="btn btn-secondary" href="{{ url_for('static', filename= 'pdf/JHicks_DA.pdf') }}" role="button">Download &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    
    <div class="col-lg-6">
        <img src="{{ url_for('static', filename= 'images/waterresources.jpg') }}" style="width:250px; height:250px; border-radius:50%;">

        <h2>Water Engineering</h2>
        <p class=cv-text>Download a pdf copy of my resume relevant to an engineering or water resources role. </p>
        <p><a class="btn btn-secondary" href="{{ url_for('static', filename= 'pdf/JHicks_WR.pdf') }}" role="button">Download &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
</div>

{% endblock %}
