{% extends 'base.html' %}

{% block content %}
  
    <div class="container marketing">
      
      <div class="row featurette">
        <div class="col-md-7 bio">
          <p class="bold">Jessica Hicks is a recent Environmental Engineering graduate from the University of Florida with a unique skill set in programming, data analysis, and engineering. She is a creative problem solver and a lifelong learner who is looking to start her career with a great company in the Denver, CO area. </p>
          <p class="lead">Jessica is open to roles in data analysis, software development, and/or water resources. During her time in college, she gained experience programming and optimizing research models through work with the <a href="http://ktoddbrown.github.io/"; target="_blank"; style="text-decoration: none;">Todd-Brown lab</a>. Since then, she has worked with large datasets to support open-source research through an Internship with <a href="https://environmentaldatainitiative.org/"; target="_blank"; style="text-decoration: none;">Environmental Data Initiative</a>. Jessica enjoys creating fun coding projects and web apps in her spare time, and has some experience with website design and implementation. She also enjoys the outdoors through biking, hiking, and climbing. Her dream is to combine her loves for programming and engineering to foster a dynamic and meaningful career.</p>
        </div>
        <div class="col-md-5">
          <img src="{{ url_for('static', filename= 'images/headshot2.jpg') }}" style="width:500px;height:500px;">
        </div>
      </div>

      <hr class="featurette-divider">
  
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img src="{{ url_for('static', filename= 'images/geco.jpg') }}" style="width:170px; height:170px; border-radius:50%;">
  
          <h2>Portfolio</h2>
          <p class="lead">Learn about my past projects and experiences. </p>
          <p><a class="btn btn-secondary" href="{{ url_for('portfolio')}}" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="{{ url_for('static', filename= 'images/zion.jpg') }}" style="width:170px; height:170px; border-radius:50%;">
  
          <h2>Contact</h2>
          <p class="lead">Get in touch with me.</p>
          <p><a class="btn btn-secondary" href="{{ url_for('contact')}}" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="{{ url_for('static', filename= 'images/res.jpg') }}" style="width:170px; height:170px; border-radius:50%;">
  
          <h2>Resume</h2>
          <p class="lead">View and download my resume.</p>
          <p><a class="btn btn-secondary" href="{{ url_for('resume')}}" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  
  
    </div><!-- /.container -->
        
{% endblock %}