{% extends 'base.html' %}

{% block content %}
  
    <div class="container marketing">
      
      <div class="row featurette">
        <div class="col-md-7">
          <p class="bold">Jessica Hicks is a recent Environmental Engineering graduate from the University of Florida with a unique skill set in computational analysis and environmental leadership. She is a deep thinker and lifelong learner with a passion for communicating complex information and concepts to people of all backgrounds. </p>
          <p class="lead">Jessica plans to start a career in data analysis, sustainability, and/or water resources. During her time in college, she gained experience with analyzing, visualizing, and managing computational carbon stock models through work with the <a href="http://ktoddbrown.github.io/"; target="_blank"; style="text-decoration: none">Todd-Brown lab</a>. Since then, she has been involved with Environmental Data Initiative<a href="https://environmentaldatainitiative.org/"; target="_blank"; style="text-decoration: none">Environmental Data Initiative</a>, as a part of their summer fellowship program, where she has gained experience managing and manipulating big data. Jessica enjoys creating fun coding projects and web apps in her spare time, as well as enjoying the outdoors through biking, hiking, and climbing. Her dream is to combine her loves for programming and environmental engineering to foster a dynamic and meaningful career.</p>
        </div>
        <div class="col-md-5">
          <img src="{{ url_for('static', filename= 'images/headshot2.jpg') }}" style="width:500px;height:500px;">
        </div>
      </div>

      <hr class="featurette-divider">
  
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img src="{{ url_for('static', filename= 'images/geco.jpg') }}" style="width:170px; height:170px; border-radius:50%;">
  
          <h2>Portfolio</h2>
          <p class="lead">Learn more about my past projects and experiences. </p>
          <p><a class="btn btn-secondary" href="{{ url_for('portfolio')}}" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="{{ url_for('static', filename= 'images/zion.jpg') }}" style="width:170px; height:170px; border-radius:50%;">
  
          <h2>Contact</h2>
          <p class="lead">Get in touch with me.</p>
          <p><a class="btn btn-secondary" href="{{ url_for('contact')}}" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="{{ url_for('static', filename= 'images/res.png') }}" style="width:170px; height:170px; border-radius:50%;">
  
          <h2>Resume</h2>
          <p class="lead">Download a copy of my resume.</p>
          <p><a class="btn btn-secondary" href="{{ url_for('cv')}}" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  
  
    </div><!-- /.container -->
        
{% endblock %}