{% extends 'base.html' %}

{% block content %}
      <div class="container">
      <!-- START THE PORTFOLIO SECTIONS -->
        <div class="row">
          <div class="col-md-1 text-center">
            <i class="fa fa-chart-bar fa-3x"></i>
          </div>
          <div class="col-md-5">
            <h1 class="portfolio-section">Data Analysis</h1>
            <p><a class="learn-more bold" href="{{ url_for('data')}}">Learn more &raquo;</a></p>
          </div>
          <div class="col-md-6">
            <p>Learn about my experience analyzing and managing large datasets, creating dashboards, and supporting cloud-based data platforms.</p>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row">
          <div class="col-md-1 text-center">
            <i class="fa fa-laptop-code fa-3x"></i>
          </div>
          <div class="col-md-5">
            <h1 class="portfolio-section">Software / Web Design</h1>
            <p><a class="learn-more bold" href="{{ url_for('software')}}">Learn more &raquo;</a></p>
          </div>
          <div class="col-md-6">
            <p>Learn about my programming and web development/design projects.</p>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row">
          <div class="col-md-1 text-center">
            <i class="fa fa-hard-hat fa-3x"></i>
          </div>
          <div class="col-md-5">
            <h1 class="portfolio-section">Engineering</h1>
            <p><a class="learn-more bold" href="{{ url_for('engineering')}}">Learn more &raquo;</a></p>
          </div>
          <div class="col-md-6">
            <p>Learn about my experience using GIS, Hydrologic Modeling, and other engineering tools to solve environmental engineering problems.</p>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row">
          <div class="col-md-1 text-center">
            <i class="fa fa-leaf fa-3x"></i>
          </div>
          <div class="col-md-5">
            <h1 class="portfolio-section">Volunteering / Sustainability</h1>
            <p><a class="learn-more bold" href="{{ url_for('volunteering')}}">Learn more &raquo;</a></p>
          </div>
          <div class="col-md-6">
            <p>Learn about my leadership in volunteering and sustainability.</p>
          </div>
        </div>

      </div>

{% endblock %}